.our-products {
  padding-left: calc(15px + (199 - 15) * ((100vw - 360px) / (1920 - 360)));
  position: relative;
  margin-bottom: 154px;
}

.our-products__container {
  max-width: 1520px;
  display: flex;
  flex-wrap: wrap;
}

.our-products__text-wrapper {
  max-width: 650px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.our-products__title {
  margin: 0 0 30px;
  max-width: 493px;
  font-family: "EastmanBold";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 44px;
  color: #fff;
  z-index: 3;
}

.our-products__discription {
  margin: 0;
  max-width: 483px;
  font-family: "EastmanRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  z-index: 3;
}

.our-products__links-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(330px, 356px));
  gap: 73px 159px;
}

.our-products__link {
  text-decoration: none;
  color: #000;
  font-family: "EastmanMedium";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  transition: opacity .3s linear;
}

.our-products__link:hover {
  opacity: 0.8;
}

.our-products__link-text {
  text-align: center;
  margin: 30px 0 0;
}

.our-products__online-register {
  position: relative;
}

.our-products__online-register::before {
  position: absolute;
  content: "";
  bottom: 120px;
  left: 9px;
  background: url(../../images/online_register.png) no-repeat center;
  width: 91px;
  height: 181px;
}

.our-products__circle {
  position: absolute;
  width: 804px;
  height: 804px;
  background: linear-gradient(131.3deg, #15b68e 8.56%, #93e736 87.99%);
  border-radius: 50%;
  left: -32px;
  bottom: 84px;
  transform: rotate(90deg);
}

.our-products__circle::after {
  content: "";
  width: 542px;
  height: 481px;
  position: absolute;
  bottom: 81px;
  left: 439px;
  background: url(../../images/svg_circle.svg) no-repeat center;
  background-size: cover;
  transform: rotate(90deg);
}

.our-products__circle::before {
  content: "";
  width: 833px;
  height: 833px;
  position: absolute;
  bottom: -33px;
  left: 9px;
  background: url(../../images/svg_circle_big.svg) no-repeat center;
  background-size: cover;
  transform: rotate(180deg);
}

.our-products__heart {
  position: absolute;
  background: url(../../images/heart.png) no-repeat center;
  width: 171px;
  height: 137px;
  bottom: 278px;
  left: 385px;
}

.our-products__rupor {
  position: absolute;
  background: url(../../images/rupor_left.png) no-repeat center;
  background-size: cover;
  width: 248px;
  height: 237px;
  bottom: 43px;
  left: 110px;
  transform: scaleX(-1) rotate(22deg);
}
