.buisness-problem {
  padding-left: calc(15px + (329 - 15) * ((100vw - 360px) / (1920 - 360)));
}

.buisness-problem__container {
  max-width: 729px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.buisness-problem__title {
  margin: 0 0 30px;
  font-family: "EastmanBold";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 86px;
}

.buisness-problem__discription {
  margin: 0;
  margin-bottom: 68px;
  font-family: "EastmanRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
