.popup {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.popup__opened {
  visibility: visible;
}

.popup__container {
  position: relative;
  width: 350px;
  height: auto;
  background-color: #293744;
  padding: 20px;
  border-radius: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;

}

.popup__title {
  margin: 0 0 15px;
  font-family: "EastmanRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.popup__subtitle {
  margin: 0 0 28px;
  font-family: "EastmanRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.popup__close-button {
  position: absolute;
  padding: 15px 20px;
  border-radius: 50%;
  border: 0;
  background-color: #fbd748;
  top: -30px;
  right: -65px;
  cursor: pointer;
  transition: transform .4s ease-in-out;
}

.popup__close-button:hover {
  transform: scale(0.9);
}

.popup__form {
  font-family: "EastmanRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.popup__input {
  margin: 5px 0 20px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #747d85;
  border-radius: 10px;
  background-color: #293744;
  color: #fff;
  outline-color: #fbd748;
}

.popup__submit-button {
  font-family: 'EastmanBold';
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 0;
  background-color: #fbd748;
  cursor: pointer;
  transition: transform .4s linear;
}

.popup__submit-button:hover {
  transform: rotate(.8deg) scale(.9);
}

.popup__form-agreement {
  margin: 15px 0 0;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.popup__form-agreement-link {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px dashed #fff;
}

.popup__form-agreement-link:hover {
  border-bottom: 0;
}